$block:block;
$flex:flex;
$width:17.5rem;
$auto: auto;
$fontColor:(rgb(35, 132, 232)) (rgb(159, 120, 96)) (rgb(228, 168, 19)) (rgb(42, 184, 204));
$rem:1rem;
$background:#f6f6f6;
$color:#494949;
$fontSize6:.6rem;